.gallery__images img{
	width: 700px;
	height: 500px;	
<<<<<<< HEAD
	//position: absolute;
	display: block;
	margin: 0 auto;	
=======
	position: absolute;
	opacity: 0;	
>>>>>>> 09a346b327bd98079c13892684bc50f076ea9f55
}

.gallery__activator{
	position: relative;
	text-align: center;
	top: 230px;
}

.gallery__control:hover {
	opacity: 1;
}

.gallery__control {
	height: 30px;
	width: 30px;
	margin-top: -15px;
	top: 50%;
	position: absolute;
	display: block;
	//cursor: pointer;
	border-width: 5px 5px 0 0;
	border-style: solid;
	border-color: white;
	opacity: 0.35;
	outline: 0;
	//z-index: 3;
}

.gallery__control--backward{
	left: 100px;
	transform: rotate(-135deg);
}

.gallery__control--forward{
	right: 100px;
	transform: rotate(45deg);	
}

@include small-screen{
	.gallery__images img{
		width: 500px;
		height: 500px;	
		position: absolute;	
	}
}

@include medium-screen{
	.gallery__images img{
		width: 1000px;
		height: 500px;	
		position: absolute;	
	}
}

