$noOfSlides            : 5;
$carouselHeight        : 300px;
$carouselWidth         : 400px;
$carouselIndicatorSize : 15px;
$carouselControlSize   : 30px;
$slideTransition       : .5s;
$small-screen					 : 639px;
$medium-screen				 : 1023px;
