select{
	display : block;
	margin: 20px auto;

}
.movies-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.movie__container{
	display: block;
	margin: 0 auto;
}

img{
	width: 100px;
	height: 100px;
}
