.controls-container{
	width: 100%;
	height: 30px;
	margin : 20px auto;
	display : flex;
	align-items: center;
	justify-content: center;

	&__button{
		width: 70px;
		height: 30px;
		margin-left: 10px;
	}

}

.movies-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	

	.movie__container{
		transition: transform 1s;
		background-color: black;
		height: 200px;
		transform: scaleX(1);

		&--rotate{
			transform: scaleX(-1);
		}

		&__title{
			color: white;
			text-align: center;
		}

		&__img{
			width: 150px;
			height: 120px;
			display: block;
			margin: 30px auto;
		}
		
	}
}


